<%#= form_with(model: customer) do |form| %>
<%== form_for(customer) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :e_mail %>
    <%= form.text_field :e_mail %>
  </div>

  <div class="field">
    <%= form.label :team %>
    <%= form.text_field :team %>
  </div>
  <div class="field">
    <%= form.label :joker %>
    <%= form.check_box :joker %>
  </div>

  <div class="field genders">
    <% Customer.genders.each_with_index do |gender, index| %>
      <%= form.radio_button :gender, gender[1], checked: (customer.gender == gender[0]) %>
      <%= form.label gender[0] %> 
    <% end %>
  </div>

  <div class="field">
    <%= form.label :virthday %>
    <%= form.date_select :virthday %>
  </div>

  <% unless current_user.present? %>
    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>

    <div class="field">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
