<%= form_with(model: customer) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :e_mail %>
    <%= form.text_field :e_mail %>
  </div>

  <div class="field">
    <%= form.label :team %>
    <%= form.text_field :team %>
  </div>

  <div class="field">
    <%= form.label :introduce %>
    <%= form.text_area :introduce, class: "description" %>
  </div>
  <div class="field">
    <%= form.label :hobby %>
    <%= form.text_area :hobby, class: "description" %>
  </div>
  <div class="field">
    <%= form.label :joker %>
    <%= form.check_box :joker %>
  </div>
  <div class="field">
    <%= form.label :person_image %>
    <%= form.text_field :person_image %>
  </div>
  <div class="field">
    <% person_images = ["f1.png", "one.png", "two.png", "kao.gif", "f2.png"] %>
    <% person_images.each do |image| %>
    <div class="thumbnail_list">
      <div><%= image_tag "academy_content/users/#{image}", class: "thumbnail_default" %><br><%= image %></div>
    </div>
    <% end %>
  </div>


  <div class="field genders">
    <% Customer.genders.each_with_index do |gender, index| %>
      <%= form.radio_button :gender, gender[1], checked: (customer.gender == gender[0]) %>
      <%= form.label gender[0] %> 
    <% end %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.date_select :birthday, start_year: 1950, end_year: 2020 %>
  </div>

  <% unless current_user.present? %>
    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>

    <div class="field">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
