<p id="notice"><%= notice %></p>

<%= form_with(scope: :customer, url: customers_path, method: :get) do |form| %>
  <div class="field">
    <%= form.text_field :search %>
    <%= form.submit "search" %>
  </div>
<% end %>

<h1>Customers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <% if current_user.admin == true %>
        <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.gender %></td>
        <% if current_user.admin == true || current_user == customer %>
          <td><%= link_to 'Show', customer %></td>
          <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
          <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

