<p id="notice"><%= notice %></p>

<div class="main_page">

  <%= form_with(scope: :customer, url: customers_path, method: :get) do |form| %>
    <div class="field">
      <strong><%= "名前を入力して検索すると該当者のみが検索されます" %></strong><br>
      <%= form.text_field :search %>
      <%= form.submit t("button.search") %>
    </div>
  <% end %>

  <h1>Customers</h1>

  <table>
    <thead>
      <tr>
        <th><%= Customer.human_attribute_name(:name) %></th>
        <th  colspan="2"><%= Customer.human_attribute_name(:team) %></th>
        <th><%= Customer.human_attribute_name(:introduce) %></th>
        <th><%= Customer.human_attribute_name(:hobby) %></th>
        <% if current_user.admin == true %>
          <th colspan="3"></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td class="introduce"><%= truncate(customer.name, length: 30, omission: "...")  %></td>
          <% if customer.team == current_user.team %>
            <td class="same_team"><span>同じチーム</span></td>
            <% if customer.joker == true %>
              <td><%= image_tag "joker.png", class: "image_index" %></td>
            <% else %>
              <td><%= image_tag "person.png", class: "image_index" %></td>
            <% end %>
          <% else %>
            <td>他のチーム</td>
            <td  colspan="1"></td>
          <% end %>
          <td class="introduce"><%= truncate(customer.introduce, length: 130, omission: "...") %></td>
          <td class="hobby"><%= truncate(customer.hobby, length: 130, omission: "...") %></td>
          <% if current_user.admin == true || current_user == customer %>
            <td><%= link_to t('button.show'), customer %></td>
            <td><%= link_to t('button.edit'), edit_customer_path(customer) %></td>
            <td><%#= link_to t('button.destroy'), customer, method: :delete, data: { confirm: 'Are you sure?', csrf: true } %></td>
            <td><%= button_to t('button.destroy'), customer, method: :delete %></td>
          <% end %>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
