<p id="notice"><%= notice %></p>

<div class="my_page">
  <p>
    <strong><%= Customer.human_attribute_name(:name) %>:</strong>
    <%= @customer.name %>
  </p>

  <p>
    <strong><%= Customer.human_attribute_name(:e_mail) %>:</strong>
    <%= @customer.e_mail %>
  </p>

  <p>

    <div class="max_length">
      <strong><%= Customer.human_attribute_name(:team) %>:</strong>
      <%= @customer.team %>
    </div>
  </p>

  <p>
    <strong><%= Customer.human_attribute_name(:joker) %>:</strong><br>
    
    <% if @customer.joker == true && @customer.team == current_user.team %>
      <%= image_tag "joker.png", class: "image_default" %>
    <% else %>
      <% if @customer.person_image.present? %>
        <%= image_tag "academy_content/users/#{@customer.person_image}", class: "image_default" %>      
      <% else %>
        <%= image_tag "person.png", class: "image_default" %>
      <% end %>
    <% end %>
  </p>

  <p>
    <strong><%= Customer.human_attribute_name(:gender) %>:</strong>
    <%= @customer.gender %>
  </p>

  <p>
    <strong><%= Customer.human_attribute_name(:birthday) %>:</strong>
    <%= @customer.birthday %>
  </p>

  <p >
    <strong><%= Customer.human_attribute_name(:introduce) %>:</strong>
    <div class="introduce"><%= @customer.introduce %></div>
  </p>

  <p >
    <strong><%= Customer.human_attribute_name(:hobby) %>:</strong>
    <div class="hobby"><%= @customer.hobby %></div>
  </p>

  <%= link_to t('button.edit'), edit_customer_path(@customer) %> |
  <%= link_to t('button.back'), customers_path %>

  <% if current_user.admin == true %>
    <%= image_tag "Rock.png" %>
  <% end %>
</div>
