<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>E_mail:</strong>
  <%= @customer.e_mail %>
</p>

<p>
  <strong>Team:</strong>
  <%= @customer.team %><br>
  <%== @customer.team %>
</p>

<p>
  <strong>Joker:</strong>
  <% if @customer.joker == true %>
    <%= "Joker" %>
  <% end %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @customer.gender %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @customer.virthday %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
