<p id="notice"><%= notice %></p>

<div class="login">
  <%= form_with(scope: :certification, url: certifications_path) do |f| %>
    <div>
      <%= f.label :e_mail %>
      <%= f.email_field :e_mail %><br><br>

      <%= f.label :password %>
      <%= f.password_field :password %>
    </div><br>

    <%= f.submit "Login" %>
  <% end %>
</div>