<p id="notice"><%= notice %></p>

<h1>Log in</h1>
<%= form_with(scope: :certification, url: certifications_path) do |f| %>

  <%= f.label :e_mail %>
  <%= f.email_field :e_mail %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Login" %>
<% end %>