<div class="key_page">
  <h1>Discover Treasures</h1>

  <h3>すべてのJokerチェックが一致したときに鍵が解錠されます</h3>

  <%= form_with scope: :joker_check do |form| %>
  
    <div class="joker_check_box">
      <% @customers.each_with_index do |customer, idx| %>
        <p>
          <%= customer.name %>
          <%= form.check_box customer.id %>
        </p>
      <% end %>
    </div>
    <div class="treasure_entry">
      <%= image_tag "Rock.png" %>
    </div>
    <%= form.submit "解錠", class: "ok_button" %>
  <% end %>

</div>
