<div class="key_page">
  <h1>Discover Treasures</h1>

  <h2>すべての Joker にチェックされたときに鍵が解錠できます</h2>

  <%= form_with scope: :joker_check do |form| %>
  
    <div class="joker_check_box">
      <% @customers.each_with_index do |customer, idx| %>
        <p>
          <%= customer.name %>
          <%= form.check_box customer.id %>
        </p>
      <% end %>
    </div>
    <div class="treasure_entry">
      <%= image_tag "Rock.png" %><br />
      <%= form.submit "解錠", class: "ok_button" %>
    </div>

  <% end %>

</div>
