<header>
	<div class="header_title">情報セキュリティマネジメント 訓練サイト</div>
	<div class="header_menu">
		<div class="left_menu">
			<ul>
				<li><%= link_to "ホーム", root_path %></li>
			</ul>
		</div>
		<div class="right_menu">
			<ul class="main_menu">
				<% if current_user.present? %>
					<li><%= link_to "カスタマ一覧", customers_path  %></li> 
					<li><%= link_to "マイページ", customer_path(current_user) %></li>
					<li></li>
					<li><%= button_to "ログアウト",  certification_path(current_user), method: :delete  %></li>  
					<li></li>
					<li></li>
					<li><%= link_to "treasures",  treasures_path, class: "treasure_menu" %></li>
			  <% else %>
					<li><%= link_to "ログイン",  new_certification_path  %></li>  
					<li><%= link_to "カスタマ登録", new_customer_path %></li>  
				<% end %>
			</ul>
		</div>
	</div>
</header>